<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.qibenyu.explore">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <activity android:name="com.qibenyu.explore.windowmanager.WindowManagerActivity" />

        <activity android:name="com.qibenyu.explore.service.NotificationActivity" />

        <service android:name="com.qibenyu.explore.service.NotificationService" />
        <service android:name="com.qibenyu.explore.service.EmptyService" android:process=":work"/>
        <service android:name="com.qibenyu.explore.service.Empty2Service" />

        <activity android:name=".handler.HandlerActivity" />

        <activity android:name="com.qibenyu.explore.glide.GlideActivity" />
        <activity android:name=".leak.LeakCanaryActivity" />
        <activity android:name=".broadcast.ReceiverActivity" />

    </application>
</manifest>
